@import 'tailwindcss';

@keyframes scroll {
    0%{
        transform: translateX(0);
    }

    100%{
        transform: translateX(calc(-400px * 3 - 0.5rem * 6));
    }
}

body {
    font-family: "Poppins", sans-serif;
    color: #141230;
    background-color: #EBEBF5;
}

.animate-scroll {
    animation: scroll 13s linear infinite;
}

.satisfy-regular {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
}

.img-shadow {
    filter: drop-shadow( 2px 0px 10px #EBEBF5);
}

.img-shadow-drop {
  filter: drop-shadow(8px 8px 6px rgba(0, 0, 0, 0.3));
}

.img-shadow-box {
  box-shadow: 8px 8px 6px rgba(0, 0, 0, 0.3);
}